/* Container e Box */

.chat-container {
    max-width: 600px;
    width: 100%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #808080;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.chat-box {
    height: 400px;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #0f0f0f;
    font-size: 40px;
    color: #f0f0f0;
    text-align: center;
    padding: 15px 15px;
}

/* Mensagens */

.chat-message {
    margin: 8px 0;
    padding: 10px 14px;
    border-radius: 16px;
    max-width: 85%;
    line-height: 1.4;
    word-break: break-word;
}

.user-message {
    align-self: flex-end;
    background-color: #D3D3D3;
    color: #000;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
}
  
.bot-message {
    align-self: flex-start;
    background-color: #FADA5E;
    color: #000;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    max-width: 70%;
    white-space: pre-line;
}
  

/* Input */

.chat-input {
    display: flex;
    padding: 0;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex: 5;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 1rem;
}
  
  .chat-input button {
    flex: 1;
    background-color: #FDDA0D;
    color: #0f0f0f;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #FFEA00;
}

/* Footer */

.footer-container {
    width: 100%;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px 0;
    border-top: 2px solid #444;
    font-size: 14px;
    flex-wrap: wrap;
    text-align: center;
}

.footer-container a {
    color: #ccc;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    .chat-header {
        font-size: 28px;
    }

    .chat-box {
        height: 300px;
        padding: 8px;
    }

    .chat-input input {
        font-size: 0.9rem;
    }

    .chat-input button {
        font-size: 0.9rem;
    }

    .footer-container {
        flex-direction: column;
        gap: 8px;
    }

    .footer-container div::after {
        content: ""; /* remove o pipe na vertical */
    }
}